@import url("https://fonts.googleapis.com/css?family=Nunito");
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

.container {
  padding: 1rem 2rem;
}

#app-bar {
  height: 10vh;
  background: #1976d2;
  font-size: 1.4rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  background: #333;
  color: #fff;
  display: flex;
  flex-direction: row;
}
#main .music-wrapper {
  flex: 2;
}
#main .side-content {
  flex: 1;
}
#main .side-content .similar-content {
  min-height: 40vh;
  height: auto;
  border-top: none;
  border-right: none;
}
#main .side-content .similar-content .item {
  margin-top: 0.5rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.1);
}
#main .side-content .ratings {
  height: auto;
}

.music-wrapper .search {
  width: 100%;
  height: 9vh;
  display: flex;
}
.music-wrapper .search .search-form {
  flex: 2;
  border-top: none;
  border-left: none;
}
.music-wrapper .search .search-form .search-input {
  border-radius: 50px 0 0 50px;
}
.music-wrapper .search .search-form .btn {
  border-radius: 0 50px 50px 0;
}
.music-wrapper .search .music-player {
  flex: 1;
}
.music-wrapper .search #search-error {
  color: #d63031;
}
.music-wrapper .music-details {
  min-height: 40vh;
  height: auto;
}
.music-wrapper .music-details div ul li {
  margin-left: 2rem;
  cursor: help;
  width: 150px;
}
.music-wrapper .rating-form {
  min-height: 41vh;
  height: auto;
  text-align: center;
}
.music-wrapper .rating-form i {
  font-size: 50px;
}
.music-wrapper .rating-form .stars {
  padding-bottom: 1rem;
}
.music-wrapper .rating-form .stars .fa-star {
  cursor: pointer;
}
.music-wrapper .rating-form form {
  display: flex;
  flex-direction: column;
}
.music-wrapper .rating-form form .search-input {
  width: 100%;
}
.music-wrapper .rating-form form textarea {
  width: 100%;
  height: 150px;
  resize: none;
  border: 0;
  background: #444;
  color: #fff;
  border-top: 2px solid #333;
}
.music-wrapper .rating-form form .btn {
  width: 100%;
}

.blue {
  color: #1976d2;
  text-decoration: none;
  cursor: pointer;
}

.search-input {
  background: #444;
  color: #fff;
  border: 0;
  width: 75%;
}

.btn {
  background: #1976d2;
  border: 0;
  cursor: pointer;
  width: 25%;
  transition: 200ms;
}

.btn:hover {
  background: #1e88e5;
}

:focus {
  outline: 0;
}

.loading-spinner {
  width: 150px;
  height: 150px;
  border: 4px solid #1976d2;
  border-radius: 50%;
  border-right: 4px solid #eee;
  border-top: 4px solid #eee;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: spin 1s ease infinite;
}
.loading-spinner::after {
  content: "";
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: linear-gradient(#1976d2, #333);
  animation: inner-spin 10s ease infinite;
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes inner-spin {
  100% {
    transform: rotateX(360deg);
    transform: rotateY(360deg);
  }
}
@media (max-width: 1274px) {
  .container {
    padding: 0.5rem 1rem;
  }

  #app-bar {
    font-size: 1rem;
  }

  #main {
    flex-direction: column;
  }

  .search {
    flex-direction: column;
    height: 18vh;
  }

  audio {
    position: fixed;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .music-player {
    padding: 0;
  }
}
@media (min-width: 1274px) {
  .rating-form form i {
    position: absolute;
    font-size: 150px !important;
    transform: rotateZ(20deg);
    opacity: 0.2;
    right: 35.55%;
    pointer-events: none;
  }
}

/*# sourceMappingURL=index.css.map */
